* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(./images/macbook.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header {
  background-color: #bdbdbd;
}
.nav-link {
  color: black;
  background-color: #bdbdbd;
}
.nav-link:hover {
  color: #dddce0;
  background-color: #515452;
}
.container-title {
  display: flex;
  justify-content: center;
}
.title {
  color: whitesmoke;
  text-align: center;
  margin-top: 15rem;
  font-family: cursive;
  font-size: 5rem;
}
.sub-title {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 10rem;
}
/* about me */
.container-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 10rem;
  background-color: #bdbdbd;
}
.container-about h2 {
  align-self: center;
}
.profile-pic {
  width: 300px;
  border-radius: 100%;
  grid-area: 1 / 2 / 3 / -1;
  justify-self: center;
  align-self: center;
}
@media (max-width: 750px) {
  .profile-pic {
    width: 150px;
    grid-area: 1 / 2 ;
  }
  .container-about {
    padding-left: 5px;
    grid-template-rows: 150px;
  }
  .container-about h2{
    justify-self: center;

  }
  .container-about p{
    grid-area: 2 / 1 / 3 / 3;
  }
}
.container{
margin-top: 15rem;
background-color: #bdbdbd;
}

.footer{
    background-color: #bdbdbd;

}
.card img{
  /* width:400px; */
  height:400px
}